@model KeyValuePair<string, MenuDataModel.MenuData>
<section class="@ViewBag.PureClasses glass bigMenu" id="@Model.Key">
	<h2 class="sectionHeading menuName">@Model.Value.Name</h2>
	<p class="sectionDescription menuDescription">@Model.Value.Description</p>
	@foreach (KeyValuePair<string, MenuDataModel.MenuData.MenuItemData> MenuItem in Model.Value.Items)
	{@Html.Partial("~/Views/Pizza/_BigMenuItem.cshtml", MenuItem)}
</section>