@{ViewBag.PageName = "Thank You";}
<main class="pure-g">
	<section class="@ViewBag.PureClasses glass">
		<h2 class="sectionHeading">@ViewBag.PageName</h2>
		<p class="sectionDescription">If this were a real pizza website, you'd be ready to have some delicious food delivered to your door. But since it's just a demonstration, instead I'll say that I appreciate you taking the time to try out my site, and I hope that after seeing this example of my work, you'll consider me for your web development needs. If you missed it, please make sure to take a look at the @Html.ActionLink("pizza designer", "Designer", "Pizza") too, as that's potentially the feature that I put the most effort and creativity into. And if you're curious how I implemented something, or want to take a look at my work in raw code form, you can check out the Source link in the navigation sidebar. Until next time, thank you and have a nice day!</p>
	</section>
</main>