<noscript>
	<div>
		<h3>Javascript Disabled</h3>
		<p>This site relies on JavaScript functionality. So that you can get the intended experience, please enable JavaScript and refresh the page.</p>
	</div>
</noscript>